<li id=<%=dom_id(item_category)%> class='highlightable'>
    <a href='/item_categories/<%=item_category.id%>' class='highlightable'>
    <div class='section'>Name: <%=item_category.name%></div>
    <div class='section'>Size: <%=item_category.items.size%></div>
    <div class='section'><%=link_to_remote 'edit', :url => edit_category_path(item_category.id)%></div>
    <div class='last'><%=link_to_remote 'X', :url =>{:controller => 'item_categories', :action => 'destroy', :id => item_category.id}%></div>
</li>