<% form_tag session_path do -%>
<h2>Members Login</h2>
<%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %>

<%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %><br/>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

-->
<%= submit_tag('Sign In', :class =>'submitBtn')  %>
<% end -%>

<!--<form action="" method="post" enctype="multipart/form-data">
        	<h2>Members login</h2>            
            <label for="name">name</label>
            <input name="name" type="text" class="txtBox" id="name" />
            <label for="email">email</label>
            <input name="email" type="text" class="txtBox" id="email" />
            <input type="image" src="images/submit_btn.gif" name="Submit" class="submitBtn" />
      </form>
-->