<div id="login_page">
<h1>Log In</h1>
<small>
<div id="login_box">
	<% form_tag session_path do -%>
		<%= label_tag 'login', 'Login ID :' %>
		<%= text_field_tag 'login', @login, :class => 'medium_box' %>
		<div id="login_password">
			<%= label_tag 'password', 'Password :' %>
			<%= password_field_tag 'password', nil, :class => 'medium_box' %>
		</div>	
		<div id="login_box_button">
			<%= submit_tag 'Log in'%>
		</div>
</div>
<br>
</small>	
	<%=link_to 'Forgot ID/password?', :controller => 'users', :action => 'forgot'%>
	<% end -%>
</div>

