<div id="columns">
	<div id="side">
  		<%= render :partial => 'messagebox_menu' %>
    </div>
    <div id="main">
		<h3>Inbox</h3>
		<table id="message_box">
		  <thead>
			<th>Sender</th>
			<th>Message</th>
			<th>Date/Time</th>
		  </thead>
		  <tbody id="messages">
		  <% if @messages.count > 0 %>
		  	<% for message in @messages %>
		    	<tr id="message_<%=message.id%>" <%if message.unread%>class='highlightable unread_message' <%else%>class='highlightable'<%end%>>
					<%if message%>
						<%if message.unread%>
		    				<td><%= link_to message.sender.login, {:action => 'profile', :username => message.sender.login}, {:class => 'unread_message'} %></td>
							<td><%= link_to truncate(message.description,30,'...'), {:action => 'show_message', :id => message.id}, {:class => 'unread_message'} %></td>
							<td class='unread_message'><%= message.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
						<%else%>
							<td><%= link_to message.sender.login, {:action => 'profile', :username => message.sender.login}, {:class => 'messagebox_links'} %></td>
							<td><%= link_to truncate(message.description,30,'...'), {:action => 'show_message', :id => message.id},{:class => 'messagebox_links'} %></td>
							<td><%= message.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
						<%end%>
					<%end%>
				</tr>
			<% end %>
		  <% else %>
			<tr id="no_message">
				<td><b><center>You have no messages in your inbox!</center></b></td>
			</tr>
		  <% end %>
		  </tbody>
		</table>
		<center><%= will_paginate @messages %></center>
    </div>
</div>
