<div id="columns">
	<div id="side">
  		<%=link_to "Write Message", :action => 'write_message'%><br/>
		<%=link_to "Inbox", :action => 'messagebox'%><br/>
      	<%=link_to "Sent Messages", :action => 'sent_messages'%><br/>
    </div>
    <div id="main">
		<table id="message_box">
		  <thead>
			<th>Sender</th>
			<th>Message</th>
			<th>Date/Time</th>
		  </thead>
		  <tbody id="messages">
		  <% if @messages.count > 0 %>
		  	<% for message in @messages %>
		    	<tr id="message_<%=message.id%>">
					<%if message%>
		    			<td><%= link_to message.sender.login, :action => 'profile', :username => message.sender.login %></td>
						<td><%= link_to truncate(message.description,40,'...'), :action => 'show_message', :id => message.id %></td>
						<td><%= message.created_at %></td>
					<%end%>
				</tr>
			<% end %>
		  <% else %>
			<tr id="no_message">
				<td><b><center>You have no messages in your inbox!</center></b></td>
			</tr>
		  <% end %>
		  </tbody>
		</table>
    </div>
</div>
