<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path, :html => {:multipart => true} do |f| -%>
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :profile_photo %><br />
<%= f.file_field :profile_photo %></p>

<p><%= f.label :first_name, 'First Name' %><br/>
<%= f.text_field :first_name %></p>

<p><%= f.label :last_name, 'Last Name' %><br/>
<%= f.text_field :last_name %></p>

<p><%= f.label :address, 'Address' %><br/>
<%= f.text_field :address %></p>

<p><%= f.label :phone, 'Phone Number' %><br/>
<%= f.text_field :phone %></p>

<p>
  <%= f.label :profile_photo %><br />
  <%= f.file_field :profile_photo %>
</p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
