
<div class="profile">
	<div id="profile_head">
		<div id="user_profile_left" style="float: left;">
			<div id="user_profile_login">
			<%=@user.login%><br/>
			</div>
			<div id="user_profile_photo">
			<% if @user.profile_photo_file_name %>
			<%= image_tag @user.profile_photo.url(:small) %>
			<% else %>
			<%= image_tag('/images/big_default.jpg') %>
			<% end %>
			</div>
		</div>
		<div id="user_profile_right" style="float: left;">
 		<% if current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) || current_user.is_admin? %>
		 <b>Information</b> 
        <% if (current_user.id == @user.id || current_user.is_admin?) %>
			 (<%=link_to 'Edit', {:controller => 'users', :id => current_user.id, :action => 'edit'}%>)
		 <% end %>
		 <% else %>
		 <b>Basic Information</b> 
		 <% end %>
	<hr style="margin-top:0; margin-bottom:0; width:40%">
		  <div id="profile_info" >
			
			<div id="basic_info_col2">
			<% if current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
				<div id="name_label">
					Name: 
				</div>
				<div id="address_label">
					Address: 
				</div>
				<div id="phone_label">
					Phone:
				</div>
				<% end %>
				<div id="email_label">
					Email:
				</div>
				<% if current_user.id == @user.id %>
					<div id="money_label">
						Funds:
					</div>
				<% end %>
			</div>
			<div id="basic_info_col3">
				<% if current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
				<div id="user_profile_name">
					<%= @user.first_name %> <%= @user.last_name %><br/>

				</div>
				
				<div id="user_profile_address">
					<%= @user.address %><br/>
				</div>

				<div id="user_profile_phone">
					<%= @user.phone %><br/>
				</div>
				<% end %>
				<div id="user_profile_email">
					<%= @user.email %><br/>
				</div>
				<% if current_user.id == @user.id %>
					<div id="user_profile_money">
						$ <%= current_user.money %><br/>
					</div>
				<% end %>
			</div>
		</div>
		</div>
	</div>
	<div id="clear_profile_position" style="clear:both;"></div>
	</div>

	<% if current_user.id != @user.id%>
	<div id="user_profile_report">
		<%= link_to "REPORT THIS USER", {:action => 'report_user', :username => @user.login}, {:style => "color:red"}%>
	</div>
	<div id="user_profile_follow">
		<% if Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
			<%= link_to "UNFOLLOW", :action => 'unfollow_user', :username => @user.login %>
		<% else %>
			<%= link_to "FOLLOW", :action => 'follow_user', :username => @user.login %>
		<% end %>
	</div>
	<% end %>
	<div id="user_profile_ban">
		<% if current_user.is_admin? %>
			<% if @user.is_banned %>
				<%= link_to "UNBAN", :controller => 'admin', :action => 'unban_user', :id => @user.id %>
			<% else %>
				<%= link_to "BAN", :controller => 'admin', :action => 'ban_user', :id => @user.id %>
			<% end %>
		<% end %>
	</div>
	<div id="user_profile_followers">
		<% @followers = @user.followers %>
		<%=@user.login%> has <%= link_to_remote @followers.count.to_s + " followers", :url => {:controller => 'users', :action => 'list_followers', :username => @user.login}, :html =>{:style => "color:orange"} %>
	</div>
	<div id="follower_list" style="display:none; width:35%"></div>
	
	<hr class="horiz_line">
<div id ="rating_section">
<b>User Rating</b>
<%= ratings_for @user, :dimension => :quality %>
</div>
<hr class="horiz_line">

<% if (current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id})) && @use_items %>
	<div id="profile_user_items_header">
		<b>User Items</b>
		<div id="profile_user_items">
			<% @count = 0%>
			<% for u_item in @user_items %>
				<% item = Item.find_by_id(u_item.item_id) %>
				<% if item && item.user == @user && !item.closed %>
					<div class="searched_item">
						<div class="searched_item_photo">
							<% if item.item_photo_file_name %>
								<%= image_tag item.item_photo.url(:small) %>
							<% else %>
								<%= image_tag('/images/default.jpg') %>
							<% end %>
						</div>
						<div class="searched_item_name">
							<%=link_to item.name, {:controller => 'items', :action => 'show', :id => item.id} %>
						</div>
					</div>
					<% @count += 1 %>
					<% if @count % 4 == 0%>
						<div style="clear:both"></div>
					<%end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<hr class="horiz_line">
<% end %>

	<div id ="comment_section">
		<b>User Comments</b>
		<%=form_tag :action => 'write_comment' %>
		<%=hidden_field_tag :commentee_id, @user.id %>
		<%=text_area_tag :description, :id => 'comments_box' %><br/>
		<%=submit_tag "Comment"%>
		</form>
		<br>
		<div id="all_comments">			
			<% if @comments.count > 0 %>
			<% for comment in @comments %>
				<div id='comment_<%=comment.id%>', class='comment_body'>
					<div id='comment_left'>
						<div id="comment_left_photo">
							<% if @user.profile_photo_file_name %>
							<%= image_tag @user.profile_photo.url(:thumb) %>
							<% else %>
							<%= image_tag('/images/default.jpg') %>
							<% end %>
						</div>
						<div id="comment_left_name">
				
	 
						<%= facebox_link_to comment.user.login,
								:url => {:action => 'profile',
						 		:username => comment.user.login}%>
						</div>
					</div>
					<div id='comment_right'>
						<%= comment.description %>
					</div>
					<div id="clear_profile_position" style="clear:both;"></div>
				</div>
				<% end %>
			<% else %>
				
				<center>This user has no comments.</center>
				
			<% end %>
			
		
	</div>
</div>


<hr class="horiz_line">
