<div class="profile">
	<div id="profile_head">
		<div id="user_profile_left" style="float: left;">
			<div id="user_profile_login">
			<%=@user.login%><br/>
			</div>
			<div id="user_profile_photo">
			<% if @user.profile_photo_file_name %>
			<%= image_tag @user.profile_photo.url(:small) %>
			<% else %>
			<%= image_tag('/images/big_default.jpg') %>
			<% end %>
			</div>
		</div>
		<div id="user_profile_right" style="float: left;">
		 <b>Basic Information</b>

	<hr style="margin-top:0; margin-bottom:0; width:40%"">
		  <div id="profile_info" >
			
			<div id="basic_info_col2">
				<div id="email_label">
					Email:
				</div>
				<div id="address_label">
					Address: 
				</div>
				<div id="phone_label">
					Phone:
				</div>
			</div>
			<div id="basic_info_col3">
				<div id="user_profile_email">
					<%= @user.email %><br/>

				</div>
				<div id="user_profile_address">
					<%= @user.address %><br/>
				</div>
				<div id="user_profile_phone">
					<%= @user.phone %><br/>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div id="clear_profile_position" style="clear:both;"></div>
	</div>

	<% if current_user.id != @user.id%>
	<div id="user_profile_report">
		<%= link_to "REPORT THIS USER", :action => 'report_user', :username => @user.login%>
	</div>
	<div id="user_profile_follow">
		<% if Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
			<%= link_to "UNFOLLOW", :action => 'unfollow_user', :username => @user.login %>
		<% else %>
			<%= link_to "FOLLOW", :action => 'follow_user', :username => @user.login %>
		<% end %>
	</div>
	<% end %>
	<div id="user_profile_ban">
		<% if current_user.is_admin? %>
			<% if @user.is_banned %>
				<%= link_to "UNBAN", :controller => 'admin', :action => 'unban_user', :id => @user.id %>
			<% else %>
				<%= link_to "BAN", :controller => 'admin', :action => 'ban_user', :id => @user.id %>
			<% end %>
		<% end %>
	</div>
	
	<hr class="horiz_line">

	<div id ="comment_section">
	<b>User Comments</b>
	<%=form_tag :action => 'write_comment' %>
	<%=hidden_field_tag :commentee_id, @user.id %>
	<%=text_area_tag :description %><br/>
	<%=submit_tag "Comment"%>
	</form>
	<br>
	<div id="all_comments">			
			<% if @comments.count > 0 %>
			<% for comment in @comments %>
				<div id='comment_<%=comment.id%>', class='comment_body'>
					<div id='comment_left'>
						<div id="comment_left_photo">
							<% if @user.profile_photo_file_name %>
							<%= image_tag @user.profile_photo.url(:thumb) %>
							<% else %>
							<%= image_tag('/images/default.jpg') %>
							<% end %>
						</div>
						<div id="comment_left_name">
						    	<%= facebox_link_to comment.user.login,
								:url => {:action => 'profile',
						 		:username => comment.user.login}%>
						</div>
					</div>
					<div id='comment_right'>
						<%= comment.description %>
					</div>
					<div id="clear_profile_position" style="clear:both;"></div>
				</div>
				<% end %>
			<% else %>
				
				<center>This user has no comments.</center>
				
			<% end %>
			
		
	</div>
</div>
