<script type="text/javascript">
	$(function () {
		<% for item in @user_items %>
			<% @end_date = Time.parse(item.created_at.to_s)+item.time_limit %>
			var end = new Date();
			var id = <%=item.id%> + "";
			var year = <%=@end_date.year%> + ""
			var month = <%=@end_date.month%> + ""; 
			var day = <%=@end_date.day%> + "";  
			var hour = <%=@end_date.hour%> + "";   
			var min = <%=@end_date.min%> + "";   
			var sec = <%=@end_date.sec%> + "";
		end = new Date(year,month-1,day,hour-8,min,sec);
		$("#searched_item_time_"+id).countdown({until: end});
		<% end %>
	});
</script>
<div class="profile">
	<div id="profile_head">
		<div id="user_profile_left" style="float: left;">
			<div id="user_profile_login">
				<%=@user.login%><br/>
			</div>
			<div id="user_profile_photo">
				<% if @user.profile_photo_file_name %>
				<%= image_tag @user.profile_photo.url(:small) %>
				<% else %>
				<%= image_tag('/images/big_default.jpg') %>
				<% end %>
			</div>
			<div id="user_profile_rating">
				<%= ratings_for @user, :dimension => :quality %> <br>
			</div>
		</div>
		<div id="user_profile_right" style="float: left;">
 			<% if current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, 
															 :follower_id => current_user.id}) || current_user.is_admin? %>
				<b>Information</b> 	
				<% if (current_user.id == @user.id || current_user.is_admin?) %>
					 (<%=link_to 'Edit', {:controller => 'users', :id => current_user.id, :action => 'edit'}%>)
				<% end %>
			<% else %>
				<b>Basic Information</b> 
			<% end %>
		 <hr style="margin-top:0; margin-bottom:0; width:40%">
		 <div id="profile_info" >
		 	<div id="basic_info_col2">
			<% if current_user.id == @user.id || Follow.find(:first, :conditions => 
												{:following_id => @user.id, :follower_id => current_user.id}) %>
				<div id="name_label">
					Name: 
				</div>
				<div id="address_label">
					Address: 
				</div>
				<div id="phone_label">
					Phone:
				</div>
				<% end %>
				<div id="email_label">
					Email:
				</div>
				<% if current_user.id == @user.id %>
					<div id="money_label">
						Funds:
					</div>
				<% end %>
			</div>
			<div id="basic_info_col3">
				<% if current_user.id == @user.id || Follow.find(:first, 
								:conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
				<div id="user_profile_name">
					<%= @user.first_name %> <%= @user.last_name %><br/>
				</div>
				
				<div id="user_profile_address">
					<%= @user.address %><br/>
				</div>

				<div id="user_profile_phone">
					<%= @user.phone %><br/>
				</div>
				<% end %>
				<div id="user_profile_email">
					<%= @user.email %><br/>
				</div>
				<% if current_user.id == @user.id %>
					<div id="user_profile_money">
						$ <%= current_user.money %> <%= link_to "(Add more)", {:controller => 'users', 
																			   :action => 'add_money', :username => current_user.login} %><br/>
					</div>
				<% end %>
			</div>
		</div>
		</div>
	</div>
	<div id="clear_profile_position" style="clear:both;"></div>
	</div>

	<% if current_user.id != @user.id%>
	<div id="user_profile_report">
		<%= link_to "REPORT THIS USER", {:action => 'report_user', :username => @user.login}, {:style => "color:red"}%>
	</div>
	<div id="user_profile_follow">
		<% if Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id}) %>
			<%= link_to "UNFOLLOW", :action => 'unfollow_user', :username => @user.login %>
		<% else %>
			<%= link_to "FOLLOW", :action => 'follow_user', :username => @user.login %>
		<% end %>
	</div>
	<% end %>
	<div id="user_profile_ban">
		<% if current_user.is_admin? %>
			<% if @user.is_banned %>
				<%= link_to "UNBAN", :controller => 'admin', :action => 'unban_user', :id => @user.id %>
			<% else %>
				<%= link_to "BAN", :controller => 'admin', :action => 'ban_user', :id => @user.id %>
			<% end %>
		<% end %>
	</div>
	<div id="user_profile_followers">
		<% @followers = @user.followers %>
		<%= link_to_remote @followers.count.to_s + " follower(s)",
							 :url => {:controller => 'users', :action => 'list_followers', 
							 :username => @user.login}, :html =>{:style => "color:orange"} %>
	</div>
	<div id="follower_list" style="display:none; width:35%"></div>
	
<% if (current_user.id == @user.id || Follow.find(:first, :conditions => {:following_id => @user.id, :follower_id => current_user.id})) && @user_items %>

	<hr class="horiz_line">

	<div id="profile_user_items_header">
		<h3><%=@user.login%>'s Items</h3>
		<div id="profile_user_items">
			<% @count = 0%>
			<% for item in @user_items %>
				<% if item && item.user == @user && !item.closed %>
					<div class="user_item">
						<div class="user_item_photo">
							<% if item.item_photo_file_name %>
								<%= image_tag item.item_photo.url(:thumb) %>
							<% else %>
								<%= image_tag('/images/photo_na_long.png') %>
							<% end %>
						</div>
						<div class="user_item_name">
							<%=link_to item.name, {:controller => 'items', :action => 'show', :id => item.id} %>
						</div>
					</div>
					<% @count += 1 %>
					<% if @count % 6 == 0%>
						<div style="clear:both"></div>
					<%end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<hr class="horiz_line">

	<div id="profile_bidded_items_header">
		<h3>Bidded Items</h3>
		<div id="profile_user_items">
			<% @count = 0%>
			<% for bid in @bids %>
				<% @item = Item.find_by_id(bid.item_id) %>
				<% if @item && @item.user == @user && !@item.closed %>
					<div class="searched_item">
						<div class="searched_item_category">
							<%=@item.item_category.name%>
						</div>
						<span class="searched_item_name">
							<%=link_to truncate(@item.name,20,'...'), :controller => 'items', :action => 'show', :id => @item.id%>
							<span class="searched_item_price">
								 - $<%=@item.start_price%>
							</span>
						</span>
						<div class="searched_item_photo">
							<% if @item.item_photo_file_name %>
								<%= image_tag @item.item_photo.url(:small) %>
							<% else %>
								<%= image_tag('/images/photo_na_long.png') %>
							<% end %>
						</div>
						<div class="searched_item_bid_price", id="search_page_<%=@item.id%>">
							<% @highest_bid = @item.bids.last %>
							<%= render :partial => 'items/searched_bid_price', :object => @highest_bid %>
						</div>
						<% if !@item.closed && @item.item_photo_file_name %>
							<div id='item_time_<%=@item.id%>',  style="height:20%; border: 1px solid black;
															    -moz-border-radius: 10px; -webkit-border-radius: 10px;
																-moz-box-shadow: 3px 3px 4px #000;
																-webkit-box-shadow: 3px 3px 4px #000;
																box-shadow: 3px 3px 4px #000;">
						<% elsif !@item.closed && !@item.item_photo_file_name %>
							<div id='item_time_<%=@item.id%>', style="height:20%; 
																margin-top:20px;border: 1px solid black;
																-moz-border-radius: 10px; -webkit-border-radius: 10px;
																-moz-box-shadow: 3px 3px 4px #000;
																-webkit-box-shadow: 3px 3px 4px #000;
																box-shadow: 3px 3px 4px #000;">
						<% else %>
							<div id='item_time_<%=@item.id%>'>
						<% end %>
							<%= render :partial => 'items/search_time_ticker', :object => @item%> 
						</div>
					</div>
					<% @count += 1 %>
					<% if @count % 3 == 0%>
						<div style="clear:both"></div>
					<%end %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

	<hr class="horiz_line">

	<div id ="comment_section">
		<h3>Comments</h3>
		<div id="all_comments">			
			<% if @comments.count > 0 %>
				<% for comment in @comments %>

				<div class="sbl">
					<div class="sbr">
						<div class="stl">
							<div class="str"><%= comment.description %>
							</div>
						</div>
					</div>
				</div>
				<div class="sb"><%= facebox_link_to comment.user.login,
									:url => {:action => 'small_profile',
							 		:username => comment.user.login}%> on <%= comment.created_at.to_s %>
				</div>
				<div id="clear_profile_position" style="clear:both;">
				</div>
				<% end %>
			<% else %>
				
				<center>This user has no comments.</center>
				
			<% end %>	
		</div>
		<%=form_tag :action => 'write_comment' %>
		<%=hidden_field_tag :commentee_id, @user.id %>
		<%=text_area_tag :description%><br/>
		<%=submit_tag "Post a Comment"%>
		</form>
	</div>
<hr class="horiz_line">
