<div id="columns">
	<div id="side">
  		<%=link_to "Write Message", :action => 'write_message'%><br/>
		<%=link_to "Inbox", :action => 'messagebox'%><br/>
      	<%=link_to "Sent Messages", :action => 'sent_messages'%><br/>
    </div>
    <div id="main">
	<h2>Message to <%= @message.receiver.login %></h2><h5>
		  
	<div id="sender_box">	
	Sent to: <br><%= @message.receiver.login %>
	</div>	
	<br>
	Message:<br>
	<div id="message_content">
	<%= @message.description %>
	</div>			<br>
	<%= button_to 'Write', :action => 'write_message', :receiver => @message.receiver.login%>
	<%= button_to "Back", request.env["HTTP_REFERER"] %></h5>
			
    </div>
</div>
