<div id="columns">
	<div id="side">
  		<%= render :partial => 'messagebox_menu' %>
	</div>
	<div id="main">
		<h2>Message to <%= @message.receiver.login %></h2><h5>
			  
		<div id="sender_box">	
		Sent to: <br><%= link_to @message.receiver.login, {:action => 'profile', :username => @message.receiver.login}, {:class => 'messagebox_links'} %>
		</div>	
		<br>
		Message:<br>
		<div id="message_content">
		<%= @message.description %>
		</div>			<br>

		
		
		<table id="button_table"><tr><td id="first_button" style="width:5%"><%= button_to 'Write', :action => 'write_message', :receiver => @message.receiver.login%></td>
		  <td><%= button_to "Back", request.env["HTTP_REFERER"] %></td></tr></table>
			
    </div>
</div>
