<div id="columns">
	<div id="side">
  		<%= render :partial => 'messagebox_menu' %>
    </div>
    <div id="main">
		<h2>Write Message</h2>
		<%=form_tag :action=>'send_message'%>
		  <%=label_tag :sender_id, 'From:', :class => 'messagebox_links'%>
		  <br/>
		  <%=label_tag :sender_id, @message.sender.login, :class => 'messagebox_links'%>
		  <br/>
		  <br/>

		  <%=label_tag :receiver, 'To:', :class => 'messagebox_links'%>
		  <br/>
		  <%=text_field_tag :receiver, (@message.receiver.login if @message.receiver)%>
		  <br/>
		

		  <%=label_tag :description, 'Message:', :class => 'messagebox_links'%>
		  <br/>
		  <%=text_area_tag :description%>
		  <br/>

		  <table><tr><td style="width:5%"><%=submit_tag 'Send'%></td>
		  <td><%= button_to "Back", request.env["HTTP_REFERER"] %></td></tr></table>
		</form>
    </div>
</div>
