<h1>Post a new item!</h1>

<%= error_messages_for :item %>
<% form_for :item, :url => items_path, :html => {:name => "new_item", :multipart => true} do |f| -%>
<p><%= f.label :name %><br/>
<%= f.text_field :name %></p>

<p><%= f.label :description %><br/>
<%= f.text_area :description %></p>

<p><%= f.label :item_category %><br/>
<%= f.select(:item_category_id, ItemCategory.find(:all, :order => "name ASC").collect {|i| [i.name, i.id]}, {:prompt => 'Select Category'})%></p>

<p><%= f.label :start_price %><br/>
<%= f.text_field :start_price %></p>

<p><%= f.label :time_limit %><br/>
<%= f.text_field :time_limit %></p>

<p><%= f.label :bin %><br/>
<%= f.check_box :bin, :onchange => remote_function(:url => {:action => 'bin_check'})%></p>

<p id="bin_price", style="display:none"><%= f.label :bin_price %><br />
<%= f.text_field :bin_price %></p>

<p>
  <%= f.label :item_photo %><br />
  <%= f.file_field :item_photo %>
</p>

<p><%= submit_tag 'Post', :onclick=>"FreezeScreen('Please wait...');" %></p>
<% end -%>
