<%= render :partial => 'search_box'%>

<% for item in @items %>
	<table>
		<tr>
			<td style="width:5%">User</td>
			<td><%=item.user.login%></td>
		</tr>
			<td style="width:5%">Category</td>
			<td><%=item.item_category.name%></td>
		</tr>
		<tr>
			<td style="width:5%">Name</td>
			<td><%=link_to item.name, :action => 'show', :id => item.id%></td>
		</tr>
		<tr>
			<td style="width:5%">Description</td>
			<td><%=truncate(item.description,100,'...')%></td>
		</tr>
	</table>
	<hr/>
<% end %>

<center><%= will_paginate @items %></center>