<script type="text/javascript">
$(function () {
	<% for item in @items %>
		<% @end_date = Time.parse(item.created_at.to_s)+item.time_limit %>
		var end = new Date();
		var id = <%=item.id%> + "";
		var year = <%=@end_date.year%> + ""
		var month = <%=@end_date.month%> + ""; // 1 through 12 or '*' within the next month, '0' for the current month
		var day = <%=@end_date.day%> + "";   // day of month or + day offset
		var hour = <%=@end_date.hour%> + "";   // 0 through 23 for the hour of the day
		var min = <%=@end_date.min%> + "";    // 0 through 59 for minutes after the hour
		var sec = <%=@end_date.sec%> + "";
		var tz = 0;     // offset in hours from UTC to your timezone
	end = new Date(year,month-1,day,hour-8,min,sec);
	$("#searched_item_time_"+id).countdown({until: end});
	<% end %>
});
</script>
<div>
<%= render :partial => 'search_box'%>
</div>
<% if @items.first %>
<% @count = 0%><br>
<div id="result_label">
	<%if params[:q].eql?("")%>
		Showing all items:
	<%else%>
		Results for <%=params[:q]%>
	<%end%>
</div>
<div class="searched_items">
<% for @item in @items %>
	<% if @item %>
	<div class="searched_item">
		<div class="searched_item_category">
			<%=@item.item_category.name%>
		</div>
		<div class="searched_item_name">
			<%=link_to truncate(@item.name,20,'...'), :action => 'show', :id => @item.id%>
		</div>
		<div class="searched_item_price">
			$<%=@item.start_price%>
		</div>
		<div class="searched_item_photo">
			<% if @item.item_photo_file_name %>
				<%= image_tag @item.item_photo.url(:small) %>
			<% else %>
				<%= image_tag('/images/photo_na_long.png') %>
			<% end %>
		</div>
		<div class="searched_item_bid_price", id="search_page_<%=@item.id%>">
			<% @highest_bid = @item.bids.last %>
			<%= render :partial => 'searched_bid_price', :object => @highest_bid %>
		</div>
		<% if !@item.closed && @item.item_photo_file_name %>
		<div id='item_time_<%=@item.id%>', style="height:20%; border: 1px solid black;-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;">
		<% elsif !@item.closed && !@item.item_photo_file_name %>
			<div id='item_time_<%=@item.id%>', style="height:20%; margin-top:20px;border: 1px solid black;-moz-border-radius: 10px; -webkit-border-radius: 10px;
		-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;">
		<% else %>
			<div id='item_time_<%=@item.id%>'>
		<% end %>
			<%= render :partial => 'search_time_ticker', :object => @item%> 
		</div>
	</div>
	<% @count += 1 %>
	<% if @count % 3 == 0%>
		<div style="clear:both"></div>
	<%end %>
	<% end %>
<% end %>
</div>

<div class="search_pages"><center><%= will_paginate @items %></center></div>

<% else %>
	<center>No items found</center>
<% end %>
</div>
