<script type="text/javascript">
	$(function () {
		<% if @items.first %>
		<% for item in @items %>
			<% @end_date = Time.parse(item.created_at.to_s)+item.time_limit %>
			var end = new Date();
			var id = <%=item.id%> + "";
			var year = <%=@end_date.year%> + ""
			var month = <%=@end_date.month%> + ""; 
			var day = <%=@end_date.day%> + "";  
			var hour = <%=@end_date.hour%> + "";   
			var min = <%=@end_date.min%> + "";   
			var sec = <%=@end_date.sec%> + "";
		end = new Date(year,month-1,day,hour-8,min,sec);
		$("#searched_item_time_"+id).countdown({until: end});
		<% end %>
		<% end %>
	});
</script>

<span>
	<%= render :partial => 'search_box', :object => @all%>
</span>

<% if @items.first %>
	<% @count = 0%><br>
	<div id="result_label">
		<%if params[:q].eql?("")%>
			Showing all items:
		<%else%>
			Results for <%=params[:q]%>
		<%end%>
	</div>
	<% if params[:q] != ''%>
	<div id="search_ebay">
		<%= link_to_remote "Show prices from other sites", :url => {:controller => 'items', :action => 'list_ebay_items', :ebay => @price_array}, :html =>{:style => "color:orange"} %>
		<div id="ebay_list" style="display:none;"></div>
	</div>
	<% end %>
	<div class="searched_items">
		<% for @item in @items %>
			<% if @item && !@item.closed%>
				<% if params[:item_category][0] != "" %>
					<% if (@item.item_category.id == params[:item_category][0].to_i) %>
						<div class="searched_item">
							<div class="searched_item_category">
								<%=@item.item_category.name%>
							</div>
							<div class="searched_item_name">
								<%=link_to truncate(@item.name,20,'...'), :action => 'show', :id => @item.id%>
							</div>
							<div class="searched_item_price">
								$<%=@item.start_price%>
							</div>
							<div class="searched_item_photo">
								<% if @item.item_photo_file_name %>
									<%= image_tag @item.item_photo.url(:small) %>
								<% else %>
									<%= image_tag('/images/photo_na_long.png') %>
								<% end %>
							</div>
							<div class="searched_item_bid_price", id="search_page_<%=@item.id%>">
								<% @highest_bid = @item.bids.last %>
								<%= render :partial => 'searched_bid_price', :object => @highest_bid %>
							</div>
							<% if !@item.closed && @item.item_photo_file_name %>
								<div id='item_time_<%=@item.id%>', style="height:20%; border: 1px solid black;
																	-moz-border-radius: 10px; -webkit-border-radius: 10px;
																	-moz-box-shadow: 3px 3px 4px #000;
																	-webkit-box-shadow: 3px 3px 4px #000;
																	box-shadow: 3px 3px 4px #000;">
							<% elsif !@item.closed && !@item.item_photo_file_name %>
								<div id='item_time_<%=@item.id%>', style="height:20%; margin-top:20px;
										 border: 1px solid black;-moz-border-radius: 10px; -webkit-border-radius: 10px;
										-moz-box-shadow: 3px 3px 4px #000;
										-webkit-box-shadow: 3px 3px 4px #000;
										box-shadow: 3px 3px 4px #000;">
							<% else %>
								<div id='item_time_<%=@item.id%>'>
							<% end %>
								<%= render :partial => 'search_time_ticker', :object => @item%> 
								</div>

							<% if !@item.closed %>
								<div class="bid_link" style="background-color:orange;width:70px;margin-left:50px;border: 1px solid black;
															-moz-border-radius: 10px; 
															-webkit-border-radius: 10px;
															-moz-box-shadow: 3px 3px 4px #000;
															-webkit-box-shadow: 3px 3px 4px #000;
															box-shadow: 3px 3px 4px #000;">
									<%=link_to "Bid", {:controller=>'items', :action => 'show', :id => @item.id}, {:style => "color:purple"}%>
								</div>
							<% end %>
						</div>
						<% @count += 1 %>
						<% if @count % 3 == 0%>
							<div style="clear:both"></div>
						<%end %>
					<% end %>
				<% elsif params[:item_category][0] == "" %>

					<div class="searched_item">
						<div class="searched_item_category">
							<%=@item.item_category.name%>
						</div>
						<div class="searched_item_name">
							<%=link_to truncate(@item.name,20,'...'), :action => 'show', :id => @item.id%>
						</div>
						<div class="searched_item_price">
							$<%=@item.start_price%>
						</div>
						<div class="searched_item_photo">
							<% if @item.item_photo_file_name %>
								<%= image_tag @item.item_photo.url(:small) %>
							<% else %>
								<%= image_tag('/images/photo_na_long.png') %>
							<% end %>
						</div>
						<div class="searched_item_bid_price", id="search_page_<%=@item.id%>">
							<% @highest_bid = @item.bids.last %>
							<%= render :partial => 'searched_bid_price', :object => @highest_bid %>
						</div>
						<% if !@item.closed && @item.item_photo_file_name %>
							<div id='item_time_<%=@item.id%>', style="height:20%; border: 1px solid black;
																-moz-border-radius: 10px; -webkit-border-radius: 10px;
																-moz-box-shadow: 3px 3px 4px #000;
																-webkit-box-shadow: 3px 3px 4px #000;
																box-shadow: 3px 3px 4px #000;">
						<% elsif !@item.closed && !@item.item_photo_file_name %>
							<div id='item_time_<%=@item.id%>', style="height:20%; margin-top:20px;
									 border: 1px solid black;-moz-border-radius: 10px; -webkit-border-radius: 10px;
									-moz-box-shadow: 3px 3px 4px #000;
									-webkit-box-shadow: 3px 3px 4px #000;
									box-shadow: 3px 3px 4px #000;">
						<% else %>
							<div id='item_time_<%=@item.id%>'>
						<% end %>
							<%= render :partial => 'search_time_ticker', :object => @item%> 
							</div>

						<% if !@item.closed %>
							<div class="bid_link" style="background-color:orange;width:70px;margin-left:50px;border: 1px solid black;
														-moz-border-radius: 10px; 
														-webkit-border-radius: 10px;
														-moz-box-shadow: 3px 3px 4px #000;
														-webkit-box-shadow: 3px 3px 4px #000;
														box-shadow: 3px 3px 4px #000;">
								<%=link_to "Bid", {:controller=>'items', :action => 'show', :id => @item.id}, {:style => "color:purple"}%>
							</div>
						<% end %>
					</div>
					<% @count += 1 %>
					<% if @count % 3 == 0%>
						<div style="clear:both"></div>
					<%end %>
				<% end %>
			<% end %>	
		<% end %>
	</div>
	<div class="search_pages"><center><%= will_paginate @items %></center>
	</div>
<% else %>
	<center style="padding-top:30px;">No items found</center>
<% end %>


