<script type="text/javascript">
$(function () {
		<% @end_date = Time.parse(@item.created_at.to_s)+@item.time_limit %>
		var end = new Date();
		var id = <%=@item.id%> + "";
		var year = <%=@end_date.year%> + ""
		var month = <%=@end_date.month%> + ""; // 1 through 12 or '*' within the next month, '0' for the current month
		var day = <%=@end_date.day%> + "";   // day of month or + day offset
		var hour = <%=@end_date.hour%> + "";   // 0 through 23 for the hour of the day
		var min = <%=@end_date.min%> + "";    // 0 through 59 for minutes after the hour
		var sec = <%=@end_date.sec%> + "";
		var tz = 0;     // offset in hours from UTC to your timezone
	end = new Date(year,month-1,day,hour-8,min,sec);
	$('#show_item_time_time_left').countdown({until: end, expiryUrl: '/end_auction/'+id});
});
</script>

<div id="show_item_left">
<div id="show_item_seller">
	<div id="show_item_seller_label"></div>
	<div id="show_item_seller_photo">
		<% if @item.user.profile_photo_file_name %>
		<%= image_tag @user.profile_photo.url(:small) %>
		<% else %>
		<%= image_tag('/images/default.jpg') %>
		<% end %>
	</div>
	<div id="show_item_seller_rating">
		<%= ratings_for @item.user, :dimension => :quality, :small => true, :force_static => true %>
	</div>
	<div id="show_item_seller_name"><%=link_to @item.user.login, {:controller => "users", :action => "profile", :username => @item.user.login}%></div>
</div>
</div>

<div id="show_item_middle">
<div id="show_item_price">
	<div id="show_item_price_label">Initial Bid :</div>
	<div id="show_item_price_price">$<%=@item.start_price%></div>
</div>

<div id="show_item_bin_price">
	<% if @item.bin  && !@item.closed%>
		<div id="show_item_bin_price_label">Buy It Now :</div>
		<div id="show_item_bin_price_price">$<%=@item.bin_price%></div>
		<div id="show_item_bin_button"><%=button_to "Buy", {:controller => 'users', :action => "buy_it_now", :id => @item.id},{:class => 'button'}%></div>
	<% end %>
</div>
<% if @diff > 0 && !@item.closed %>
<div id="show_item_time">
	<div id="show_item_time_label">Time Remaining :</div>
	<div id="show_item_time_time_left"></div>
</div>
<div id='bid_id'>
	<%= form_tag :controller => "users", :action => "bid" %>
		<span id="show_item_price_price">$</span><%= text_field_tag :bid_price, "",{:class => 'input', :style => "width:70px;height:20px;margin-bottom:0px;"} %>
		<%= hidden_field_tag :item_id, @item.id %>
		<%= submit_tag "Bid!", {:class => 'button', :style => ""}%>
	</form>
</div>
<div id='highest_bid' style="margin-bottom:10px;">
	<%= render :partial => "highest_bid_price", :object => @highest_bid %>
</div>
<% else %>
<div id='highest_bid'>
	<div style="color:red;font-weight:bold">Auction is closed!<br><br></div>
</div>
<% end %>
</div>
<div id="show_item_right">
	<% if !@item.closed %>
		<div id="show_item_watch">
				<div id="show_item_item_watch">
						<% if Watch.find(:first, :conditions => {:watcher_id => current_user.id, :item_id => @item.id}) %>
							<%= link_to "Unwatch this item.", {:controller => 'users', :action => 'unwatch_item',
													 :id => @item.id, :watcher_id => current_user.id} %>
						<% else %>
							<%= link_to "Watch this item.", :controller => 'users',
															:action => 'watch_item', :id => @item.id, :watcher_id => current_user.id %>
						<% end %>
				</div>
		</div><br>
	<% end %>
	<% if !@item.closed && current_user.is_admin? %>
		<div id="show_item_watch">
				<div id="show_item_item_watch">
					<%= link_to "Stop this item.", {:controller => 'admin', :action => 'stop', :id => @item.id} %>					
				</div>
		</div><br>
	<% end %>
	<span id="show_item_item">
			<span id="show_item_item_label">Name :</span>
			<span id="show_item_item_name"><h2><%=@item.name%></h2></span>
	</span>
	<div id="show_item_desc">
		<div id="show_item_desc_label">Description :</div>
		<div id="show_item_desc_desc"><pre><%=@item.description%></pre></div>
	</div>
	<div id="show_item_photo">
		<div id="show_item_photo_label">Photo :</div>
		<div id="show_item_photo_photo">
			<% if @item.item_photo_file_name %>
				<%=image_tag @item.item_photo.url(:large)%>
			<% else %>
				<%=image_tag('/images/photo_na_long.png')%>
			<% end %>
		</div>
	</div>
</div>

