<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'blueprint/screen.css'%>
  <%= stylesheet_link_tag 'blueprint/print.css'%>
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'style'%>
  <%= stylesheet_link_tag 'facebox' %>
  <%= javascript_include_tag 'jquery-google'%>
  <%= ajaxful_rating_style %>
  <%= include_gritter%>
  <%= javascript_include_tag 'facebox'%>
  <%= javascript_include_tag :juggernaut %>
  <%= stylesheet_link_tag 'jquery.countdown' %>
  <%= javascript_include_tag 'jquery.countdown'%>

  <% if current_user %>
  	<%= juggernaut(:client_id => current_user.id) %>
  <% end %>
  <%= javascript_include_tag 'jquery-ui' %>

  <script language="JavaScript">
   function FreezeScreen(msg) {
      scroll(0,0);
      var outerPane = document.getElementById('FreezePane');
      var innerPane = document.getElementById('InnerFreezePane');
      if (outerPane) outerPane.className = 'FreezePaneOn';
      if (innerPane) innerPane.innerHTML = msg;
   }
   </script>


  
  <%= yield :head %>
</head>

<body>
<div align="center" id="FreezePane" class="FreezePaneOff">
   <div id="InnerFreezePane" class="InnerFreezePane"> </div>
</div>
<div id='header'>
  <div class='content'>
    <a href='/'>
    <div id='logo'>
    </div>
    </a>
    <%= render :partial=> 'users/user_bar'%>
    <%if current_user%>
    <div class='header_link_container'>
    <%=link_to 'Post', {:controller => 'items', :action => 'new'}, :class => 'header_link span-4'%>
    <%=link_to 'Search', {:controller => 'items', :action => 'index'}, :class => 'header_link span-4'%>  
    <%=link_to 'My Items', {:controller => 'users', :action => 'show_user_items'}, :class => 'header_link span-4'%>
    <%=link_to 'Messages', {:controller => 'users', :action => 'messagebox'}, :class => 'header_link span-4'%>
    <%=link_to 'About', '/users/about', :class => 'header_link span-4'%>
	<% end %>
    </div>
  </div>
</div>
<div id='main_content' class='content'>
  <%if current_user%>
  	<div id='user_#{current_user.id}'>
	</div>
  <%end%>
  <%=render :partial => 'base/notification'%>
  <%=yield%>
  <% request.env["HTTP_REFERER"] = request.request_uri() %>
</div>
</body>
</html>
