<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'blueprint/screen.css'%>
  <%= stylesheet_link_tag 'blueprint/print.css'%>
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'style'%>
  <%= stylesheet_link_tag 'facebox' %>
  <%= include_gritter_and_jquery%>
  <%= javascript_include_tag 'facebox'%>
  <%= javascript_include_tag :juggernaut %>
  <% if current_user %>
  	<%= juggernaut(:client_id => current_user.id) %>
  <% end %>
  <%= javascript_include_tag 'jquery-ui' %>

  


  
  <%= yield :head %>
</head>

<body>

<div id='header'>
  <div class='content'>
    <a href='/' class='span-4'>
    <div id='logo'>
    </div>
    </a>
    <%= render :partial=> 'users/user_bar'%>
    <%if current_user%>
    <div class='header_link_container'>
    <%=link_to 'Post', {:controller => 'items', :action => 'new'}, :class => 'header_link span-4'%>
    <%=link_to 'Search', {:controller => 'items', :action => 'index'}, :class => 'header_link span-4'%>  
 	<%=link_to 'My Auctions', {:controller => 'recipes', :action => 'index_all'}, :class => 'header_link span-4'%>
   	 <%=link_to 'My Profile', {:controller => 'users', :action => 'profile', :username => current_user.login}, :class => 'header_link span-4'%>
   	 <%=link_to 'My Messages', {:controller => 'users', :action => 'messagebox'}, :class => 'header_link span-4'%>
	<% end %>
    </div>
  </div>
</div>
<div id='main_content' class='content'>
  <%if current_user%>
  	<div id='user_#{current_user.id}'>
	</div>
  <%end%>
  <%=render :partial => 'base/notification'%>
  <%=yield%>
  <% request.env["HTTP_REFERER"] = request.request_uri() %>
</div>
</body>
</html>
